*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --base-color: white;
  --secondary-color: #e8e9ed;
  --text-color: #111528;
  --secondary-text: #232738;
  --main-color: #3a435d;
  --submit: #5ba5ff;
  --notebutton: linear-gradient(to bottom, rgb(207, 184, 188), rgb(189, 169, 169));
  --notebuttonborder: darksalmon;
  --note: linear-gradient(to left, wheat 90%, rgb(252, 239, 214));
}

body {
    background-color: var(--base-color);
    text-align: center;
    font-family: sans-serif;
    margin: 10px 0 0 0;
    padding: 0;
    background-repeat: no-repeat;
    height: 100%;
    color: var(--text-color);
}

.darkmode {
  --base-color: #070b1d;
  --secondary-color: #3a435d;
  --text-color: #e8e9ed;
  --secondary-text: #a4a5b8;
  --main-color: #3a435d;
  --submit: #5ba5ff;
  --notebutton: linear-gradient(to bottom, rgb(135, 121, 123), rgb(110, 98, 98));
  --notebuttonborder: rgb(153, 91, 71);
  --note: linear-gradient(to left, rgb(158, 139, 105) 90%, rgb(169, 152, 122));
}


/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  z-index: 4;
    overflow: hidden;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-evenly;
    bottom: 0;
    width: 100%;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    color: var(--text-color);
    text-align: center;
    padding: 1% 10%;
    text-decoration: none;
    font-size: 25px;
    align-items: center;
    align-content: space-evenly; 
    margin: 0 auto;
  }
  
  /* Change the color of links on hover */
.navbar a:hover, .navbar a:active {
  background-color: var(--main-color);
  color: var(--base-color);
}
.navbar a:active {
  opacity: 0.75;
}

  /* Add a color to the active/current link */

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 15px;
  align-items: center;
  width: 100%;
  margin: 0;
  height: 100%;
  overflow: scroll;

}


#logo {
  display: flex;
  width: 100%;
  height: 250px;
  align-items: center;
  
}
#logosvg {
  width: 200px;
  margin: auto;
  fill: var(--text-color);

}

.buttons {
  width: 100%;
  border-radius: 10px;
  border-style: none;
  margin: 45px auto;
  transition: transform 0.5s ease;
}
.buttons a {
border-width: 0;
text-decoration: none;
width: 250px;
height: 250px;
display: flex;
font-size: 100px;
padding: 0px 30px;
border-radius: 25px;
text-align: center;
margin: auto;
color: rgb(11, 11, 80);
background: var(--secondary-color);
box-shadow: 0 4px 8px var(--text-color);
transition: transform 0.5s ease;
align-content: center;
align-items: center;
}

#svg{
  width: 100px;
  margin: auto;
  fill: var(--text-color);
}

.buttons:active {
  opacity: 0.8;
  transition:  ease;
  scale: 0.95;
}

.quote {
  align-items: center;
  margin: auto 10px 40px 10px;
}
#quotetext {
  font-style: italic;
  margin: 0 10px;
}

.popup {
  position: absolute;
  align-items: center;
  display: flex;
  flex-direction: row;
  top: 5%;
  left: 5%;
  background-color: var(--secondary-color);
  border-radius: 25px;
  height: 90%;
  width: 90%;
  overflow: scroll;
  flex-wrap: wrap;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  visibility: hidden;
  transform: translate(0, 0) scale(0.1);
  transition: transform 0.4s ease;
  z-index: 3;
}
.open-popup {
  visibility: visible;
  transform: translate(0, 0) scale(1);
}



#notebook {
  margin: 17px 10px;
}



#close {
  position: absolute;
  top: 1%;
  right: 3%;
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  font-size: 10px;
  padding: 10px;
}

#submit {
  margin-top: auto;
  height: 50px;
  border: none;
  border-radius: 5px;
  width: 50%;
  background-color: var(--submit);
  box-shadow: 0 2px 8px #111528;
  color: var(--text-color);
  font-size: 20px;
  font-weight: bold;
}

h2 {
  color: var(--text-color);
  margin: 20px 0 15px 0;
}

.todo-app {
  background: var(--note);
  width: 100%;
  height: 350px;
  border: 5px solid var(--notebuttonborder);
  border-radius: 8px;
  padding: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn {
  cursor: pointer;
  width: 100px;
  margin: 10px;
  color: var(--text-color);
  background: var(--notebutton);
  box-shadow: 0 2px 4px #111528;
  border: 2px solid var(--notebuttonborder);
  height: 35px;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.9;
}

.large-btn {
  width: 80%;
  font-size: 1.2rem;
  align-self: center;
  justify-self: center;
}

.close-task-form-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.close-icon {
  width: 20px;
  height: 20px;
}

.task-form {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--secondary-color);
  border-radius: 5px;
  padding: 15px;
  width: 95%;
  height: 90%;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
  border: 5px solid var(--notebuttonborder);

  z-index: 5;
}

.task-form-header {
  display: flex;
  justify-content: flex-end;
}

.task-form-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.task-form-footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.task-form-label,
#title-input,
#date-input,
#description-input {
  display: block;
}

.task-form-label {
  margin-bottom: 5px;
  font-size: 1.3rem;
  font-weight: bold;
}

#title-input,
#date-input,
#description-input {
  width: 100%;
  margin-bottom: 10px;
  padding: 2px;
}

#confirm-close-dialog {
  padding: 10px;
  margin: 10px auto;
  border-radius: 15px;
}

.confirm-close-dialog-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.discard-message-text {
  font-weight: bold;
  font-size: 1.5rem;
}

#tasks-container {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: scroll;
}

#dookie{
  margin-bottom: 0;
}

.task {
  margin: 5px 0;
  word-wrap: break-word; /* Ensures long words break */
  white-space: normal; /* Allows text to wrap to the next line */
  overflow-wrap: break-word; /* Ensures breaking inside words if necessary */
  text-align: justify;
  max-width: 100%;
}

.hidden {
  display: none;
}

.stattitle{
  width: 100%;
}

.statcontainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items:center;
  align-content: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
  margin-bottom: 35px;
}

.statistic {
  border: 2px solid var(--main-color);
  border-radius: 5px;
  width: 100%;
  height: 300px;
}

form {
  text-align: left;
}

form h3 {
  margin-top: 15px;
}

#fodmaptext {
  margin-bottom: 0;
}


#poopform {
  margin-top: 35px;
  height: 90%;
  width: 100%;
  display: flex;
  gap: 40px;
  flex-direction: column;
  align-items: center;
  align-content: space-evenly;
  text-align: center;
}

.qualitychooser, .qualitychoosertext {
  vertical-align: middle;
  margin: 5px 10px;
}

.qualityinputs {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: space-evenly;
  align-self: center;
}


h4 {
  margin-bottom: 5px;
  font-size: 25px;
}

#pain {
  width: 100%;
  height: 30px;
  font-size: 20px;
}
#fodmapselector {
  width: 100%;
  height: 30px;
  font-size: 20px;
}

#fodmaps{
  margin-bottom: 45px;
}

.theme {
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--secondary-color);
  border: none;
  display: flex;
  align-content: center;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 20px;
}

.theme svg {
  fill: var(--text-color);
  margin: auto;
}

.theme svg:last-child {
  display: none;
}

.darkmode .theme svg:first-child {
  display: none;
}
.darkmode .theme svg:last-child {
  display: block;
}
